In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
import pyspark

conf = SparkConf().setAppName("building a warehouse")
sc = SparkContext(conf=conf)

sqlContext = SQLContext(sc)

In [21]:
import os 
yelp_dir="/media/diego/QData/datasets/yelp"
business_file = os.path.join(yelp_dir, 'business.json')
checkin_file = os.path.join(yelp_dir, 'checkin.json')
review_file = os.path.join(yelp_dir, 'review.json')
tip_file = os.path.join(yelp_dir, 'tip.json')
user_file = os.path.join(yelp_dir, 'user.json')

In [22]:
df_business = sqlContext.read.json(business_file)
df_checkin = sqlContext.read.json(checkin_file)
df_review = sqlContext.read.json(review_file)
df_tip = sqlContext.read.json(tip_file)
df_user = sqlContext.read.json(user_file)

In [25]:
df_business_count = df_business.count()
df_checkin_count = df_checkin.count()
df_review_count = df_review.count()
df_tip_count = df_tip.count()
df_user_count = df_user.count()

In [27]:
print(f'{df_business_count} businesses, {df_checkin_count} checkins,  {df_review_count} reviews, {df_tip_count} tips, {df_user_count} users')

192609 businesses, 161950 checkins,  6685900 reviews, 1223094 tips, 1637138 users

In [31]:
import pyspark.sql.functions as sf

df_business_cities=df_business.groupBy('city').agg(sf.count('business_id').alias('city_business')).sort(sf.desc('city_business'))

In [34]:
df_business_cities.head(1000)

[Row(city='Las Vegas', city_business=29370),
 Row(city='Toronto', city_business=18906),
 Row(city='Phoenix', city_business=18766),
 Row(city='Charlotte', city_business=9509),
 Row(city='Scottsdale', city_business=8837),
 Row(city='Calgary', city_business=7736),
 Row(city='Pittsburgh', city_business=7017),
 Row(city='Montréal', city_business=6449),
 Row(city='Mesa', city_business=6080),
 Row(city='Henderson', city_business=4892),
 Row(city='Tempe', city_business=4550),
 Row(city='Chandler', city_business=4309),
 Row(city='Cleveland', city_business=3605),
 Row(city='Glendale', city_business=3543),
 Row(city='Madison', city_business=3494),
 Row(city='Gilbert', city_business=3462),
 Row(city='Mississauga', city_business=3112),
 Row(city='Peoria', city_business=1919),
 Row(city='Markham', city_business=1766),
 Row(city='North Las Vegas', city_business=1548),
 Row(city='Champaign', city_business=1262),
 Row(city='North York', city_business=1205),
 Row(city='Surprise', city_business=1148),
 Row(city='Scarborough', city_business=1103),
 Row(city='Richmond Hill', city_business=1026),
 Row(city='Brampton', city_business=1002),
 Row(city='Concord', city_business=990),
 Row(city='Vaughan', city_business=919),
 Row(city='Goodyear', city_business=855),
 Row(city='Etobicoke', city_business=793),
 Row(city='Matthews', city_business=749),
 Row(city='Avondale', city_business=681),
 Row(city='Fort Mill', city_business=627),
 Row(city='Huntersville', city_business=625),
 Row(city='Lakewood', city_business=519),
 Row(city='Gastonia', city_business=480),
 Row(city='Cornelius', city_business=474),
 Row(city='Mentor', city_business=472),
 Row(city='Akron', city_business=465),
 Row(city='Urbana', city_business=411),
 Row(city='Cave Creek', city_business=402),
 Row(city='Monroeville', city_business=400),
 Row(city='North Olmsted', city_business=396),
 Row(city='Thornhill', city_business=396),
 Row(city='Laval', city_business=394),
 Row(city='Westlake', city_business=389),
 Row(city='Strongsville', city_business=379),
 Row(city='Oakville', city_business=362),
 Row(city='Middleton', city_business=360),
 Row(city='Aurora', city_business=356),
 Row(city='Cuyahoga Falls', city_business=354),
 Row(city='Newmarket', city_business=352),
 Row(city='Pineville', city_business=349),
 Row(city='Medina', city_business=348),
 Row(city='Fountain Hills', city_business=345),
 Row(city='Pickering', city_business=326),
 Row(city='Rock Hill', city_business=311),
 Row(city='Ajax', city_business=303),
 Row(city='Indian Trail', city_business=301),
 Row(city='Parma', city_business=290),
 Row(city='Beachwood', city_business=289),
 Row(city='Wexford', city_business=280),
 Row(city='Whitby', city_business=276),
 Row(city='Boulder City', city_business=269),
 Row(city='Sun City', city_business=258),
 Row(city='Willoughby', city_business=257),
 Row(city='Kent', city_business=254),
 Row(city='Sun Prairie', city_business=246),
 Row(city='Rocky River', city_business=245),
 Row(city='Woodbridge', city_business=241),
 Row(city='Stow', city_business=234),
 Row(city='Avon', city_business=230),
 Row(city='Litchfield Park', city_business=222),
 Row(city='Solon', city_business=212),
 Row(city='Cleveland Heights', city_business=212),
 Row(city='Elyria', city_business=208),
 Row(city='Hudson', city_business=203),
 Row(city='Fitchburg', city_business=201),
 Row(city='Bethel Park', city_business=200),
 Row(city='Verona', city_business=198),
 Row(city='Chagrin Falls', city_business=196),
 Row(city='Bridgeville', city_business=191),
 Row(city='Brossard', city_business=177),
 Row(city='Brunswick', city_business=176),
 Row(city='Monroe', city_business=175),
 Row(city='Waxhaw', city_business=170),
 Row(city='Coraopolis', city_business=170),
 Row(city='Airdrie', city_business=168),
 Row(city='Canonsburg', city_business=163),
 Row(city='Mayfield Heights', city_business=162),
 Row(city='East York', city_business=161),
 Row(city='Belmont', city_business=160),
 Row(city='Fairlawn', city_business=157),
 Row(city='North Royalton', city_business=157),
 Row(city='Montreal', city_business=153),
 Row(city='Verdun', city_business=153),
 Row(city='Tolleson', city_business=147),
 Row(city='West Mifflin', city_business=145),
 Row(city='Independence', city_business=143),
 Row(city='Middleburg Heights', city_business=139),
 Row(city='Streetsboro', city_business=137),
 Row(city='Monona', city_business=137),
 Row(city='Saint-Laurent', city_business=136),
 Row(city='Paradise Valley', city_business=136),
 Row(city='Painesville', city_business=132),
 Row(city='Twinsburg', city_business=130),
 Row(city='Laveen', city_business=127),
 Row(city='Harrisburg', city_business=123),
 Row(city='El Mirage', city_business=122),
 Row(city='Avon Lake', city_business=122),
 Row(city='Berea', city_business=121),
 Row(city='Homestead', city_business=119),
 Row(city='Lyndhurst', city_business=118),
 Row(city='Broadview Heights', city_business=118),
 Row(city='York', city_business=116),
 Row(city='Denver', city_business=115),
 Row(city='Sewickley', city_business=115),
 Row(city='Stoughton', city_business=115),
 Row(city='Bedford', city_business=114),
 Row(city='Lorain', city_business=113),
 Row(city='Gibsonia', city_business=113),
 Row(city='Carnegie', city_business=112),
 Row(city='Murrysville', city_business=111),
 Row(city='Mint Hill', city_business=110),
 Row(city='Davidson', city_business=108),
 Row(city='Fairview Park', city_business=106),
 Row(city='Euclid', city_business=106),
 Row(city='Amherst', city_business=105),
 Row(city='Sun City West', city_business=104),
 Row(city='Pointe-Claire', city_business=102),
 Row(city='Carefree', city_business=100),
 Row(city='Queen Creek', city_business=100),
 Row(city='Kannapolis', city_business=100),
 Row(city='Macedonia', city_business=99),
 Row(city='Dorval', city_business=97),
 Row(city='North Ridgeville', city_business=97),
 Row(city='Westmount', city_business=97),
 Row(city='Allison Park', city_business=96),
 Row(city='McMurray', city_business=93),
 Row(city='Northfield', city_business=91),
 Row(city='Chardon', city_business=87),
 Row(city='Dollard-des-Ormeaux', city_business=87),
 Row(city='Waunakee', city_business=86),
 Row(city='Brecksville', city_business=81),
 Row(city='New Kensington', city_business=81),
 Row(city='Savoy', city_business=79),
 Row(city='South Euclid', city_business=79),
 Row(city='Longueuil', city_business=78),
 Row(city='Brooklyn', city_business=78),
 Row(city='Oregon', city_business=76),
 Row(city='Indian Land', city_business=75),
 Row(city='Irwin', city_business=74),
 Row(city='Eastlake', city_business=74),
 Row(city='Lasalle', city_business=73),
 Row(city='Wickliffe', city_business=72),
 Row(city='Parma Heights', city_business=69),
 Row(city='Willowick', city_business=69),
 Row(city='Buckeye', city_business=69),
 Row(city='Chesterland', city_business=67),
 Row(city='Vaudreuil-Dorion', city_business=67),
 Row(city='Shaker Heights', city_business=66),
 Row(city='Youngtown', city_business=65),
 Row(city='North Versailles', city_business=63),
 Row(city='Stouffville', city_business=60),
 Row(city='McKeesport', city_business=60),
 Row(city='Woodmere', city_business=60),
 Row(city='Maple', city_business=59),
 Row(city='Tarentum', city_business=55),
 Row(city='Brook Park', city_business=55),
 Row(city='Oakmont', city_business=54),
 Row(city='Lachine', city_business=54),
 Row(city='Tallmadge', city_business=53),
 Row(city='Lake Wylie', city_business=53),
 Row(city='McKees Rocks', city_business=53),
 Row(city='Maple Heights', city_business=52),
 Row(city='Mount Horeb', city_business=52),
 Row(city='Glenshaw', city_business=51),
 Row(city='Garfield Heights', city_business=50),
 Row(city='Saint-Sauveur', city_business=50),
 Row(city='Pierrefonds', city_business=50),
 Row(city='Rantoul', city_business=50),
 Row(city='Unionville', city_business=49),
 Row(city='Mount Holly', city_business=48),
 Row(city='Willoughby Hills', city_business=48),
 Row(city='Oakdale', city_business=48),
 Row(city='Moon Township', city_business=47),
 Row(city='Whitchurch-Stouffville', city_business=47),
 Row(city='Olmsted Falls', city_business=47),
 Row(city='Kirkland', city_business=47),
 Row(city='Clover', city_business=46),
 Row(city='Bay Village', city_business=46),
 Row(city='Warrensville Heights', city_business=45),
 Row(city='Richfield', city_business=45),
 Row(city='Mooresville', city_business=45),
 Row(city='Bolton', city_business=44),
 Row(city='University Heights', city_business=42),
 Row(city='Mahomet', city_business=42),
 Row(city='Bellevue', city_business=41),
 Row(city='Outremont', city_business=38),
 Row(city='Highland Heights', city_business=38),
 Row(city='North Huntingdon', city_business=38),
 Row(city='Copley', city_business=37),
 Row(city='Mc Kees Rocks', city_business=37),
 Row(city='Cottage Grove', city_business=37),
 Row(city='Pleasant Hills', city_business=36),
 Row(city='Monticello', city_business=36),
 Row(city='Ambridge', city_business=36),
 Row(city='Elizabeth', city_business=35),
 Row(city='White Oak', city_business=34),
 Row(city='Seven Hills', city_business=34),
 Row(city='Boucherville', city_business=33),
 Row(city='Bradford', city_business=33),
 Row(city='Penn Hills', city_business=33),
 Row(city='Caledon', city_business=33),
 Row(city='Saint-Leonard', city_business=32),
 Row(city='Georgetown', city_business=32),
 Row(city='Sun Lakes', city_business=31),
 Row(city='Mont-Royal', city_business=31),
 Row(city='Tega Cay', city_business=31),
 Row(city='Munhall', city_business=31),
 Row(city='Mc Farland', city_business=31),
 Row(city='Chestermere', city_business=31),
 Row(city='Saint-Jean-sur-Richelieu', city_business=31),
 Row(city='Halton Hills', city_business=30),
 Row(city='Cheswick', city_business=29),
 Row(city='Sheffield Village', city_business=29),
 Row(city='Peninsula', city_business=29),
 Row(city='Dollard-Des-Ormeaux', city_business=28),
 Row(city='McFarland', city_business=28),
 Row(city='Dallas', city_business=28),
 Row(city='Middlefield', city_business=28),
 Row(city='Richmond Heights', city_business=27),
 Row(city='East Gwillimbury', city_business=27),
 Row(city='Columbia Station', city_business=27),
 Row(city='Apache Junction', city_business=26),
 Row(city='Wadsworth', city_business=26),
 Row(city='Burton', city_business=26),
 Row(city='Anthem', city_business=26),
 Row(city='N Las Vegas', city_business=26),
 Row(city='De Forest', city_business=26),
 Row(city='Guadalupe', city_business=25),
 Row(city='Higley', city_business=25),
 Row(city='Bedford Heights', city_business=25),
 Row(city='Paradise', city_business=24),
 Row(city='Cross Plains', city_business=24),
 Row(city='Valley View', city_business=24),
 Row(city='Saint-Hubert', city_business=23),
 Row(city='Lower Burrell', city_business=22),
 Row(city='Stallings', city_business=22),
 Row(city='Robinson Township', city_business=22),
 Row(city='Saint-Lambert', city_business=22),
 Row(city='La Prairie', city_business=21),
 Row(city='Wesley Chapel', city_business=21),
 Row(city='Finleyville', city_business=21),
 Row(city='Imperial', city_business=21),
 Row(city='Munroe Falls', city_business=20),
 Row(city='Greenfield Park', city_business=20),
 Row(city='Midland', city_business=20),
 Row(city='Rocky View', city_business=20),
 Row(city='King City', city_business=20),
 Row(city='Anjou', city_business=20),
 Row(city='Millvale', city_business=19),
 Row(city='Hinckley', city_business=19),
 Row(city='Plum', city_business=19),
 Row(city='Newbury', city_business=19),
 Row(city='Ahwatukee', city_business=19),
 Row(city='Saint-Eustache', city_business=19),
 Row(city='Stanley', city_business=19),
 Row(city='LaSalle', city_business=19),
 Row(city='Pepper Pike', city_business=19),
 Row(city='Waddell', city_business=19),
 Row(city='West Homestead', city_business=19),
 Row(city='Bradford West Gwillimbury', city_business=19),
 Row(city='LAS VEGAS', city_business=19),
 Row(city='Rosemère', city_business=18),
 Row(city='Saint-Jérôme', city_business=18),
 Row(city='DeForest', city_business=18),
 Row(city='Mayfield', city_business=18),
 Row(city='Turtle Creek', city_business=18),
 Row(city='Aspinwall', city_business=18),
 Row(city='Mckees Rocks', city_business=18),
 Row(city='Kirtland', city_business=18),
 Row(city='Brentwood', city_business=18),
 Row(city='Saint Joseph', city_business=17),
 Row(city='Sainte-Anne-de-Bellevue', city_business=17),
 Row(city='Terrebonne', city_business=17),
 Row(city='Grafton', city_business=16),
 Row(city='Nellis AFB', city_business=16),
 Row(city='Monongahela', city_business=16),
 Row(city='Valley City', city_business=16),
 Row(city='West View', city_business=16),
 Row(city='Clairton', city_business=16),
 Row(city='Trafford', city_business=16),
 Row(city='Sainte-Julie', city_business=16),
 Row(city='Brookpark', city_business=16),
 Row(city='Laveen Village', city_business=15),
 Row(city='Boisbriand', city_business=15),
 Row(city='Castle Shannon', city_business=15),
 Row(city='Mount Lebanon', city_business=15),
 Row(city='Windsor', city_business=15),
 Row(city='Mantua', city_business=15),
 Row(city='Lowell', city_business=14),
 Row(city='Ravenna', city_business=14),
 Row(city='Las vegas', city_business=14),
 Row(city='Sheffield Lake', city_business=14),
 Row(city='Belleville', city_business=14),
 Row(city='Jefferson Hills', city_business=14),
 Row(city='Milton', city_business=14),
 Row(city='Wilkinsburg', city_business=13),
 Row(city='Springdale', city_business=13),
 Row(city='Hampton Township', city_business=13),
 Row(city='Locust', city_business=13),
 Row(city='Leetsdale', city_business=13),
 Row(city='Chambly', city_business=13),
 Row(city='Châteauguay', city_business=13),
 Row(city='Orange', city_business=12),
 Row(city='Blue Diamond', city_business=12),
 Row(city='Cramerton', city_business=12),
 Row(city='Oakwood Village', city_business=12),
 Row(city='Heidelberg', city_business=12),
 Row(city='Mc Murray', city_business=12),
 Row(city='N. Las Vegas', city_business=12),
 Row(city='Crafton', city_business=12),
 Row(city='Etna', city_business=12),
 Row(city='Sheffield', city_business=11),
 Row(city='Beaconsfield', city_business=11),
 Row(city='Wilmerding', city_business=11),
 Row(city='Braddock', city_business=11),
 Row(city='Blainville', city_business=11),
 Row(city='South Park', city_business=11),
 Row(city='Robinson', city_business=11),
 Row(city='Beloeil', city_business=11),
 Row(city='Summerlin', city_business=11),
 Row(city='Saint-Hyacinthe', city_business=11),
 Row(city='Sainte-Thérèse', city_business=11),
 Row(city='Litchfield', city_business=11),
 Row(city='Balzac', city_business=11),
 Row(city='Fort McDowell', city_business=11),
 Row(city='Weddington', city_business=11),
 Row(city='Chateauguay', city_business=11),
 Row(city='Champlain', city_business=10),
 Row(city='Moreland Hills', city_business=10),
 Row(city='Nobleton', city_business=10),
 Row(city='Orange Village', city_business=10),
 Row(city='Norton', city_business=10),
 Row(city='Brooklin', city_business=10),
 Row(city='Schomberg', city_business=10),
 Row(city='Mayfield Village', city_business=10),
 Row(city='Deforest', city_business=10),
 Row(city='Uxbridge', city_business=10),
 Row(city='Dravosburg', city_business=10),
 Row(city='Kleinburg', city_business=9),
 Row(city='Mont-Saint-Hilaire', city_business=9),
 Row(city='North Randall', city_business=9),
 Row(city='Sagamore Hills', city_business=9),
 Row(city='Upper Saint Clair', city_business=9),
 Row(city='Bainbridge', city_business=9),
 Row(city='Cecil', city_business=9),
 Row(city='Sharpsburg', city_business=9),
 Row(city='Mentor-on-the-Lake', city_business=9),
 Row(city='Spring Valley', city_business=9),
 Row(city='Black Earth', city_business=9),
 Row(city='Swissvale', city_business=9),
 Row(city='Caledon East', city_business=9),
 Row(city='Saint-Jerome', city_business=9),
 Row(city='phoenix', city_business=9),
 Row(city='Rocky View County', city_business=9),
 Row(city='McDonald', city_business=9),
 Row(city='Sainte-Adele', city_business=9),
 Row(city='Moon', city_business=9),
 Row(city="L'Île-Perrot", city_business=9),
 Row(city='Saint-Lazare', city_business=8),
 Row(city='Rosemere', city_business=8),
 Row(city='Dormont', city_business=8),
 Row(city='Pittsburg', city_business=8),
 Row(city='las vegas', city_business=8),
 Row(city='Mcmurray', city_business=8),
 Row(city='Avalon', city_business=8),
 Row(city='Sainte-Anne-De-Bellevue', city_business=8),
 Row(city='Sainte-Adèle', city_business=8),
 Row(city='Willowdale', city_business=8),
 Row(city='Saint-Léonard', city_business=8),
 Row(city='South Park Township', city_business=8),
 Row(city='HENDERSON', city_business=8),
 Row(city='Mt Lebanon', city_business=8),
 Row(city='Mckeesport', city_business=8),
 Row(city='Rouses Point', city_business=7),
 Row(city='McCandless Township', city_business=7),
 Row(city='East Cleveland', city_business=7),
 Row(city='Venetia', city_business=7),
 Row(city='CHARLOTTE', city_business=7),
 Row(city='Mt. Lebanon', city_business=7),
 Row(city='Hiram', city_business=7),
 Row(city='Harrison City', city_business=7),
 Row(city='Lachute', city_business=7),
 Row(city='Mc Donald', city_business=7),
 Row(city='Delson', city_business=7),
 Row(city='Montreal-Nord', city_business=7),
 Row(city='La Salle', city_business=7),
 Row(city='Enterprise', city_business=7),
 Row(city='Ross Township', city_business=7),
 Row(city='Cote Saint-Luc', city_business=7),
 Row(city='Saint-Constant', city_business=6),
 Row(city='Duquesne', city_business=6),
 Row(city='Saint-Bruno-de-Montarville', city_business=6),
 Row(city='Ogden', city_business=6),
 Row(city='Vimont', city_business=6),
 Row(city='MESA', city_business=6),
 Row(city='Mentor On The Lake', city_business=6),
 Row(city='Belle Vernon', city_business=6),
 Row(city='Upper St Clair', city_business=6),
 Row(city='East Pittsburgh', city_business=6),
 Row(city='Olmsted Township', city_business=6),
 Row(city='McCandless', city_business=6),
 Row(city='Oka', city_business=6),
 Row(city='Dollard-des Ormeaux', city_business=6),
 Row(city='PHOENIX', city_business=6),
 Row(city='Middleburg Hts', city_business=6),
 Row(city='Mirabel', city_business=6),
 Row(city='Glassport', city_business=6),
 Row(city='Fairport Harbor', city_business=6),
 Row(city='Perry', city_business=6),
 Row(city='Upper St. Clair', city_business=6),
 Row(city='Mentor On the', city_business=6),
 Row(city='Morin-Heights', city_business=6),
 Row(city='Blawnox', city_business=6),
 Row(city='Joliette', city_business=6),
 Row(city='Dane', city_business=6),
 Row(city='St-Leonard', city_business=5),
 Row(city='Concord Township', city_business=5),
 Row(city='Export', city_business=5),
 Row(city='Pitcairn', city_business=5),
 Row(city='Mount Albert', city_business=5),
 Row(city='Bath', city_business=5),
 Row(city='Harmarville', city_business=5),
 Row(city='Rio Verde', city_business=5),
 Row(city='TEMPE', city_business=5),
 Row(city='Rexdale', city_business=5),
 Row(city='East McKeesport', city_business=5),
 Row(city='Las  Vegas', city_business=5),
 Row(city="L'ile-Perrot", city_business=5),
 Row(city='Pointe-Aux-Trembles', city_business=5),
 Row(city='Walton Hills', city_business=5),
 Row(city='Downtown', city_business=5),
 Row(city='Mascouche', city_business=5),
 Row(city='Mentor On the Lake', city_business=5),
 Row(city='King', city_business=5),
 Row(city='Herminie', city_business=5),
 Row(city='Beeton', city_business=5),
 Row(city='scottsdale', city_business=5),
 Row(city='Lagrange', city_business=5),
 Row(city='Gormley', city_business=5),
 Row(city='Bellvue', city_business=5),
 Row(city='Oberlin', city_business=5),
 Row(city='Presto', city_business=5),
 Row(city='Novelty', city_business=5),
 Row(city='Kahnawake', city_business=5),
 Row(city='Oakland', city_business=4),
 Row(city='Oakwood', city_business=4),
 Row(city='Mont-Saint-Grégoire', city_business=4),
 Row(city='Rigaud', city_business=4),
 Row(city='Don Mills', city_business=4),
 Row(city='Concord Mills', city_business=4),