In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
import pyspark

conf = SparkConf().setAppName("building a warehouse")
sc = SparkContext(conf=conf)

sqlContext = SQLContext(sc)

In [21]:
import os 
yelp_dir="/media/diego/QData/datasets/yelp"
business_file = os.path.join(yelp_dir, 'business.json')
checkin_file = os.path.join(yelp_dir, 'checkin.json')
review_file = os.path.join(yelp_dir, 'review.json')
tip_file = os.path.join(yelp_dir, 'tip.json')
user_file = os.path.join(yelp_dir, 'user.json')

In [22]:
df_business = sqlContext.read.json(business_file)
df_checkin = sqlContext.read.json(checkin_file)
df_review = sqlContext.read.json(review_file)
df_tip = sqlContext.read.json(tip_file)
df_user = sqlContext.read.json(user_file)

In [25]:
df_business_count = df_business.count()
df_checkin_count = df_checkin.count()
df_review_count = df_review.count()
df_tip_count = df_tip.count()
df_user_count = df_user.count()

In [27]:
print(f'{df_business_count} businesses, {df_checkin_count} checkins,  {df_review_count} reviews, {df_tip_count} tips, {df_user_count} users')

192609 businesses, 161950 checkins,  6685900 reviews, 1223094 tips, 1637138 users

In [31]:
import pyspark.sql.functions as sf

df_business_cities=df_business.groupBy('city').agg(sf.count('business_id').alias('city_business')).sort(sf.desc('city_business'))

In [45]:
df_business_cities.head(100)

[Row(city='Las Vegas', city_business=29370),
 Row(city='Toronto', city_business=18906),
 Row(city='Phoenix', city_business=18766),
 Row(city='Charlotte', city_business=9509),
 Row(city='Scottsdale', city_business=8837),
 Row(city='Calgary', city_business=7736),
 Row(city='Pittsburgh', city_business=7017),
 Row(city='Montréal', city_business=6449),
 Row(city='Mesa', city_business=6080),
 Row(city='Henderson', city_business=4892),
 Row(city='Tempe', city_business=4550),
 Row(city='Chandler', city_business=4309),
 Row(city='Cleveland', city_business=3605),
 Row(city='Glendale', city_business=3543),
 Row(city='Madison', city_business=3494),
 Row(city='Gilbert', city_business=3462),
 Row(city='Mississauga', city_business=3112),
 Row(city='Peoria', city_business=1919),
 Row(city='Markham', city_business=1766),
 Row(city='North Las Vegas', city_business=1548),
 Row(city='Champaign', city_business=1262),
 Row(city='North York', city_business=1205),
 Row(city='Surprise', city_business=1148),
 Row(city='Scarborough', city_business=1103),
 Row(city='Richmond Hill', city_business=1026),
 Row(city='Brampton', city_business=1002),
 Row(city='Concord', city_business=990),
 Row(city='Vaughan', city_business=919),
 Row(city='Goodyear', city_business=855),
 Row(city='Etobicoke', city_business=793),
 Row(city='Matthews', city_business=749),
 Row(city='Avondale', city_business=681),
 Row(city='Fort Mill', city_business=627),
 Row(city='Huntersville', city_business=625),
 Row(city='Lakewood', city_business=519),
 Row(city='Gastonia', city_business=480),
 Row(city='Cornelius', city_business=474),
 Row(city='Mentor', city_business=472),
 Row(city='Akron', city_business=465),
 Row(city='Urbana', city_business=411),
 Row(city='Cave Creek', city_business=402),
 Row(city='Monroeville', city_business=400),
 Row(city='Thornhill', city_business=396),
 Row(city='North Olmsted', city_business=396),
 Row(city='Laval', city_business=394),
 Row(city='Westlake', city_business=389),
 Row(city='Strongsville', city_business=379),
 Row(city='Oakville', city_business=362),
 Row(city='Middleton', city_business=360),
 Row(city='Aurora', city_business=356),
 Row(city='Cuyahoga Falls', city_business=354),
 Row(city='Newmarket', city_business=352),
 Row(city='Pineville', city_business=349),
 Row(city='Medina', city_business=348),
 Row(city='Fountain Hills', city_business=345),
 Row(city='Pickering', city_business=326),
 Row(city='Rock Hill', city_business=311),
 Row(city='Ajax', city_business=303),
 Row(city='Indian Trail', city_business=301),
 Row(city='Parma', city_business=290),
 Row(city='Beachwood', city_business=289),
 Row(city='Wexford', city_business=280),
 Row(city='Whitby', city_business=276),
 Row(city='Boulder City', city_business=269),
 Row(city='Sun City', city_business=258),
 Row(city='Willoughby', city_business=257),
 Row(city='Kent', city_business=254),
 Row(city='Sun Prairie', city_business=246),
 Row(city='Rocky River', city_business=245),
 Row(city='Woodbridge', city_business=241),
 Row(city='Stow', city_business=234),
 Row(city='Avon', city_business=230),
 Row(city='Litchfield Park', city_business=222),
 Row(city='Cleveland Heights', city_business=212),
 Row(city='Solon', city_business=212),
 Row(city='Elyria', city_business=208),
 Row(city='Hudson', city_business=203),
 Row(city='Fitchburg', city_business=201),
 Row(city='Bethel Park', city_business=200),
 Row(city='Verona', city_business=198),
 Row(city='Chagrin Falls', city_business=196),
 Row(city='Bridgeville', city_business=191),
 Row(city='Brossard', city_business=177),
 Row(city='Brunswick', city_business=176),
 Row(city='Monroe', city_business=175),
 Row(city='Coraopolis', city_business=170),
 Row(city='Waxhaw', city_business=170),
 Row(city='Airdrie', city_business=168),
 Row(city='Canonsburg', city_business=163),
 Row(city='Mayfield Heights', city_business=162),
 Row(city='East York', city_business=161),
 Row(city='Belmont', city_business=160),
 Row(city='North Royalton', city_business=157),
 Row(city='Fairlawn', city_business=157),
 Row(city='Montreal', city_business=153),
 Row(city='Verdun', city_business=153),
 Row(city='Tolleson', city_business=147),
 Row(city='West Mifflin', city_business=145),
 Row(city='Independence', city_business=143),
 Row(city='Middleburg Heights', city_business=139)]

In [42]:
from pyspark.sql.functions import min, max, col
# init your spark dataframe

expr = [min(col("latitude")),max(col("latitude")),min(col("longitude")),max(col("longitude"))]
df_business_city_locations = df_business.groupBy('city').agg(*expr)

In [47]:
df_business_locations = df_business_cities.join(df_business_city_locations, df_business_cities.city == df_business_city_locations.city).sort(sf.desc('city_business'))

In [48]:
df_business_locations.head(100)

[Row(city='Las Vegas', city_business=29370, city='Las Vegas', min(latitude)=35.9208835, max(latitude)=36.4382486207, min(longitude)=-115.4934712422, max(longitude)=-114.8875063285),
 Row(city='Toronto', city_business=18906, city='Toronto', min(latitude)=43.5603651, max(latitude)=43.8819420199, min(longitude)=-79.71393, max(longitude)=-79.019777165),
 Row(city='Phoenix', city_business=18766, city='Phoenix', min(latitude)=33.2562021195, max(latitude)=33.8484161, min(longitude)=-112.4410671, max(longitude)=-111.709554),
 Row(city='Charlotte', city_business=9509, city='Charlotte', min(latitude)=34.9274555, max(latitude)=35.4874459, min(longitude)=-81.036336, max(longitude)=-80.5216184),
 Row(city='Scottsdale', city_business=8837, city='Scottsdale', min(latitude)=33.2344417, max(latitude)=33.826752, min(longitude)=-112.3883099219, max(longitude)=-111.6828434127),
 Row(city='Calgary', city_business=7736, city='Calgary', min(latitude)=50.8640795, max(latitude)=51.20754, min(longitude)=-114.3564361, max(longitude)=-113.71414),
 Row(city='Pittsburgh', city_business=7017, city='Pittsburgh', min(latitude)=40.2658153, max(latitude)=43.6824667278, min(longitude)=-80.2598305, max(longitude)=-79.4751869996),
 Row(city='Montréal', city_business=6449, city='Montréal', min(latitude)=45.3927622, max(latitude)=45.6922868, min(longitude)=-73.9499835, max(longitude)=-73.4972005),
 Row(city='Mesa', city_business=6080, city='Mesa', min(latitude)=33.2411712931, max(latitude)=33.7096471, min(longitude)=-112.1867177, max(longitude)=-111.6003941),
 Row(city='Henderson', city_business=4892, city='Henderson', min(latitude)=35.9208835, max(latitude)=36.37, min(longitude)=-115.3636705147, max(longitude)=-114.88),
 Row(city='Tempe', city_business=4550, city='Tempe', min(latitude)=33.2872209, max(latitude)=33.627188126, min(longitude)=-112.3477461, max(longitude)=-111.747802645),
 Row(city='Chandler', city_business=4309, city='Chandler', min(latitude)=33.204642003, max(latitude)=33.6272938, min(longitude)=-112.0893682, max(longitude)=-111.677647),
 Row(city='Cleveland', city_business=3605, city='Cleveland', min(latitude)=33.535674, max(latitude)=41.7091552, min(longitude)=-112.266674, max(longitude)=-81.2817894),
 Row(city='Glendale', city_business=3543, city='Glendale', min(latitude)=33.394464, max(latitude)=33.8000078, min(longitude)=-112.496879, max(longitude)=-111.857836),
 Row(city='Madison', city_business=3494, city='Madison', min(latitude)=41.7228930268, max(latitude)=43.2001228, min(longitude)=-89.563016, max(longitude)=-81.104833),
 Row(city='Gilbert', city_business=3462, city='Gilbert', min(latitude)=33.205767, max(latitude)=33.6963454, min(longitude)=-112.0995284244, max(longitude)=-111.642224),
 Row(city='Mississauga', city_business=3112, city='Mississauga', min(latitude)=43.4974676, max(latitude)=43.8444320987, min(longitude)=-79.79007, max(longitude)=-79.3868637085),
 Row(city='Peoria', city_business=1919, city='Peoria', min(latitude)=33.3958772, max(latitude)=33.848411824, min(longitude)=-112.3956261493, max(longitude)=-111.954623),
 Row(city='Markham', city_business=1766, city='Markham', min(latitude)=43.764552, max(latitude)=43.957034, min(longitude)=-79.6047795, max(longitude)=-79.1811008),
 Row(city='North Las Vegas', city_business=1548, city='North Las Vegas', min(latitude)=36.092697, max(latitude)=36.3524199003, min(longitude)=-115.3036, max(longitude)=-115.0261054163),
 Row(city='Champaign', city_business=1262, city='Champaign', min(latitude)=40.026186, max(latitude)=40.3191829, min(longitude)=-88.421424, max(longitude)=-88.197115),
 Row(city='North York', city_business=1205, city='North York', min(latitude)=43.6547637, max(latitude)=43.813547, min(longitude)=-79.5703868608, max(longitude)=-79.3022935),
 Row(city='Surprise', city_business=1148, city='Surprise', min(latitude)=33.5690908, max(latitude)=33.8395368, min(longitude)=-112.4649083, max(longitude)=-112.111731),
 Row(city='Scarborough', city_business=1103, city='Scarborough', min(latitude)=43.6808325, max(latitude)=43.845453, min(longitude)=-79.5080566406, max(longitude)=-79.1371155),
 Row(city='Richmond Hill', city_business=1026, city='Richmond Hill', min(latitude)=43.6994113, max(latitude)=43.967175, min(longitude)=-79.4832626, max(longitude)=-79.3370885354),
 Row(city='Brampton', city_business=1002, city='Brampton', min(latitude)=43.6111202, max(latitude)=43.7972478, min(longitude)=-79.9150724, max(longitude)=-79.3873826),
 Row(city='Concord', city_business=990, city='Concord', min(latitude)=35.2261484, max(latitude)=43.8401912, min(longitude)=-81.2828957, max(longitude)=-79.4544360554),
 Row(city='Vaughan', city_business=919, city='Vaughan', min(latitude)=43.6663975374, max(latitude)=43.896377, min(longitude)=-79.6873889309, max(longitude)=-79.382599441),
 Row(city='Goodyear', city_business=855, city='Goodyear', min(latitude)=33.3152392, max(latitude)=33.7272381505, min(longitude)=-112.485470463, max(longitude)=-111.8525713041),
 Row(city='Etobicoke', city_business=793, city='Etobicoke', min(latitude)=43.5888851, max(latitude)=43.759973, min(longitude)=-79.631949, max(longitude)=-79.3708267212),
 Row(city='Matthews', city_business=749, city='Matthews', min(latitude)=35.0001066, max(latitude)=35.174647, min(longitude)=-80.769524, max(longitude)=-80.5993854),
 Row(city='Avondale', city_business=681, city='Avondale', min(latitude)=33.374918, max(latitude)=33.6947443, min(longitude)=-112.3924311, max(longitude)=-112.0740373),
 Row(city='Fort Mill', city_business=627, city='Fort Mill', min(latitude)=34.9304811, max(latitude)=35.150262, min(longitude)=-81.0216101, max(longitude)=-80.8211708),
 Row(city='Huntersville', city_business=625, city='Huntersville', min(latitude)=35.3503059457, max(latitude)=35.4492092, min(longitude)=-80.945838, max(longitude)=-80.75989),
 Row(city='Lakewood', city_business=519, city='Lakewood', min(latitude)=41.3136644, max(latitude)=41.4944934, min(longitude)=-81.8916633, max(longitude)=-81.7245739),
 Row(city='Gastonia', city_business=480, city='Gastonia', min(latitude)=35.1716172, max(latitude)=35.3288502, min(longitude)=-81.19964, max(longitude)=-81.0600058),
 Row(city='Cornelius', city_business=474, city='Cornelius', min(latitude)=35.4442728, max(latitude)=35.494303, min(longitude)=-80.9359369, max(longitude)=-80.837884),
 Row(city='Mentor', city_business=472, city='Mentor', min(latitude)=41.637421, max(latitude)=41.7533085, min(longitude)=-81.3873718, max(longitude)=-81.274158),
 Row(city='Akron', city_business=465, city='Akron', min(latitude)=41.0500143, max(latitude)=41.4065659, min(longitude)=-81.7417171, max(longitude)=-81.464607),
 Row(city='Urbana', city_business=411, city='Urbana', min(latitude)=40.046842, max(latitude)=40.1794968, min(longitude)=-88.2601228997, max(longitude)=-88.124887),
 Row(city='Cave Creek', city_business=402, city='Cave Creek', min(latitude)=33.6050094, max(latitude)=33.843137, min(longitude)=-112.0259103, max(longitude)=-111.923563),
 Row(city='Monroeville', city_business=400, city='Monroeville', min(latitude)=40.3889223, max(latitude)=40.4586824, min(longitude)=-79.8094725, max(longitude)=-79.7056081),
 Row(city='Thornhill', city_business=396, city='Thornhill', min(latitude)=43.784232, max(latitude)=43.8563163079, min(longitude)=-79.4829503, max(longitude)=-79.3574130535),
 Row(city='North Olmsted', city_business=396, city='North Olmsted', min(latitude)=41.3898058, max(latitude)=41.5032926, min(longitude)=-81.9899878, max(longitude)=-81.5012444),
 Row(city='Laval', city_business=394, city='Laval', min(latitude)=45.519632, max(latitude)=45.6484076, min(longitude)=-73.8698281, max(longitude)=-73.6447861),
 Row(city='Westlake', city_business=389, city='Westlake', min(latitude)=41.40805, max(latitude)=41.4774597699, min(longitude)=-82.075242, max(longitude)=-81.796310842),
 Row(city='Strongsville', city_business=379, city='Strongsville', min(latitude)=41.2768321329, max(latitude)=41.3498627, min(longitude)=-81.87747, max(longitude)=-81.78479),
 Row(city='Oakville', city_business=362, city='Oakville', min(latitude)=43.4500823, max(latitude)=43.5208054542, min(longitude)=-79.7492840798, max(longitude)=-79.6305379),
 Row(city='Middleton', city_business=360, city='Middleton', min(latitude)=43.01476, max(latitude)=43.1407496, min(longitude)=-89.582804, max(longitude)=-89.4515516076),
 Row(city='Aurora', city_business=356, city='Aurora', min(latitude)=41.2850281, max(latitude)=44.0268944479, min(longitude)=-81.3906830549, max(longitude)=-79.4079526248),
 Row(city='Cuyahoga Falls', city_business=354, city='Cuyahoga Falls', min(latitude)=41.1166992, max(latitude)=41.1915444854, min(longitude)=-81.5626926797, max(longitude)=-81.4554837616),
 Row(city='Newmarket', city_business=352, city='Newmarket', min(latitude)=43.7972177, max(latitude)=44.08019, min(longitude)=-79.5596489249, max(longitude)=-79.3683187),
 Row(city='Pineville', city_business=349, city='Pineville', min(latitude)=35.0439801, max(latitude)=35.2471462518, min(longitude)=-80.9156755, max(longitude)=-80.822850675),
 Row(city='Medina', city_business=348, city='Medina', min(latitude)=41.0581734, max(latitude)=41.21882678, min(longitude)=-81.9514145, max(longitude)=-81.6929146337),
 Row(city='Fountain Hills', city_business=345, city='Fountain Hills', min(latitude)=33.5682683764, max(latitude)=33.744792, min(longitude)=-111.9558585, max(longitude)=-111.6861813594),
 Row(city='Pickering', city_business=326, city='Pickering', min(latitude)=43.808275, max(latitude)=43.9644199, min(longitude)=-79.1596153, max(longitude)=-79.0243470669),
 Row(city='Rock Hill', city_business=311, city='Rock Hill', min(latitude)=34.9193967, max(latitude)=35.023492, min(longitude)=-81.0730078, max(longitude)=-80.9271089),
 Row(city='Ajax', city_business=303, city='Ajax', min(latitude)=43.8286823, max(latitude)=43.913262, min(longitude)=-79.0696083, max(longitude)=-78.9795733),
 Row(city='Indian Trail', city_business=301, city='Indian Trail', min(latitude)=35.01648, max(latitude)=35.2413572, min(longitude)=-80.8498354, max(longitude)=-80.50134),
 Row(city='Parma', city_business=290, city='Parma', min(latitude)=41.3510657, max(latitude)=41.4233034, min(longitude)=-81.8077345, max(longitude)=-81.6846017),
 Row(city='Beachwood', city_business=289, city='Beachwood', min(latitude)=41.396934, max(latitude)=41.502521, min(longitude)=-81.647435, max(longitude)=-81.470127),
 Row(city='Wexford', city_business=280, city='Wexford', min(latitude)=40.5503369353, max(latitude)=40.6494269, min(longitude)=-80.0943365, max(longitude)=-80.018251),
 Row(city='Whitby', city_business=276, city='Whitby', min(latitude)=43.6599240748, max(latitude)=43.996892, min(longitude)=-79.3981933594, max(longitude)=-78.9000769705),
 Row(city='Boulder City', city_business=269, city='Boulder City', min(latitude)=35.9486579, max(latitude)=36.1196731352, min(longitude)=-115.1735562086, max(longitude)=-114.8008735231),
 Row(city='Sun City', city_business=258, city='Sun City', min(latitude)=33.565217, max(latitude)=33.69402, min(longitude)=-112.400871, max(longitude)=-112.170102),
 Row(city='Willoughby', city_business=257, city='Willoughby', min(latitude)=41.576467, max(latitude)=41.6981208, min(longitude)=-81.4552934, max(longitude)=-81.3084245),
 Row(city='Kent', city_business=254, city='Kent', min(latitude)=41.100078, max(latitude)=41.1950389, min(longitude)=-81.3976382, max(longitude)=-81.2981934),
 Row(city='Sun Prairie', city_business=246, city='Sun Prairie', min(latitude)=43.1107002, max(latitude)=43.2536056, min(longitude)=-89.6424388, max(longitude)=-89.1937331),
 Row(city='Rocky River', city_business=245, city='Rocky River', min(latitude)=41.4189463, max(latitude)=41.4869027, min(longitude)=-81.9018182, max(longitude)=-81.7399978638),
 Row(city='Woodbridge', city_business=241, city='Woodbridge', min(latitude)=43.7534394, max(latitude)=43.8540633004, min(longitude)=-79.6288110316, max(longitude)=-79.5412677),
 Row(city='Stow', city_business=234, city='Stow', min(latitude)=33.334728, max(latitude)=41.2029336, min(longitude)=-111.845737, max(longitude)=-81.3965888),
 Row(city='Avon', city_business=230, city='Avon', min(latitude)=41.4286413, max(latitude)=41.4782682, min(longitude)=-82.0651853, max(longitude)=-81.9698005),
 Row(city='Litchfield Park', city_business=222, city='Litchfield Park', min(latitude)=33.447637, max(latitude)=33.5514627187, min(longitude)=-112.4877479, max(longitude)=-112.0740373),
 Row(city='Cleveland Heights', city_business=212, city='Cleveland Heights', min(latitude)=41.4866916, max(latitude)=41.536581, min(longitude)=-81.59489, max(longitude)=-81.5323222),
 Row(city='Solon', city_business=212, city='Solon', min(latitude)=41.35711, max(latitude)=41.4994954, min(longitude)=-81.6954088, max(longitude)=-81.3933538646),
 Row(city='Elyria', city_business=208, city='Elyria', min(latitude)=41.3153616923, max(latitude)=41.4253019, min(longitude)=-82.217559, max(longitude)=-81.9808594),
 Row(city='Hudson', city_business=203, city='Hudson', min(latitude)=41.2029262, max(latitude)=45.4741337, min(longitude)=-81.503467, max(longitude)=-74.108763),
 Row(city='Fitchburg', city_business=201, city='Fitchburg', min(latitude)=42.9542646, max(latitude)=43.201896, min(longitude)=-89.5114513, max(longitude)=-89.3291557138),
 Row(city='Bethel Park', city_business=200, city='Bethel Park', min(latitude)=40.2930947, max(latitude)=40.3541155, min(longitude)=-80.06921, max(longitude)=-80.0015451),
 Row(city='Verona', city_business=198, city='Verona', min(latitude)=40.4663988, max(latitude)=43.0750329954, min(longitude)=-89.664955, max(longitude)=-79.7901177),
 Row(city='Chagrin Falls', city_business=196, city='Chagrin Falls', min(latitude)=41.3577136, max(latitude)=41.4630662, min(longitude)=-81.487269, max(longitude)=-81.215301),
 Row(city='Bridgeville', city_business=191, city='Bridgeville', min(latitude)=40.3167197, max(latitude)=40.454988, min(longitude)=-80.1559844057, max(longitude)=-80.022657),
 Row(city='Brossard', city_business=177, city='Brossard', min(latitude)=45.4345884, max(latitude)=45.7017431583, min(longitude)=-73.6425697988, max(longitude)=-73.4192124924),
 Row(city='Brunswick', city_business=176, city='Brunswick', min(latitude)=41.206132, max(latitude)=41.2751664, min(longitude)=-81.8781329691, max(longitude)=-81.7821198),
 Row(city='Monroe', city_business=175, city='Monroe', min(latitude)=34.952986, max(latitude)=35.138057, min(longitude)=-80.7236804, max(longitude)=-80.455196),
 Row(city='Coraopolis', city_business=170, city='Coraopolis', min(latitude)=40.4496017, max(latitude)=40.541485, min(longitude)=-80.256542, max(longitude)=-80.1063182),
 Row(city='Waxhaw', city_business=170, city='Waxhaw', min(latitude)=34.9166699, max(latitude)=35.018098, min(longitude)=-80.8269401, max(longitude)=-80.678025),
 Row(city='Airdrie', city_business=168, city='Airdrie', min(latitude)=51.2082411633, max(latitude)=51.2999426916, min(longitude)=-114.035382, max(longitude)=-113.9370517305),
 Row(city='Canonsburg', city_business=163, city='Canonsburg', min(latitude)=40.2385413, max(latitude)=40.3069231695, min(longitude)=-80.2047665, max(longitude)=-80.0812328),
 Row(city='Mayfield Heights', city_business=162, city='Mayfield Heights', min(latitude)=41.49828, max(latitude)=41.5290325, min(longitude)=-81.64374, max(longitude)=-81.4328610019),
 Row(city='East York', city_business=161, city='East York', min(latitude)=43.6817984, max(latitude)=43.8573997692, min(longitude)=-79.3777054, max(longitude)=-79.288906),
 Row(city='Belmont', city_business=160, city='Belmont', min(latitude)=35.1534115, max(latitude)=35.2815193061, min(longitude)=-81.0749913, max(longitude)=-81.0121192),
 Row(city='North Royalton', city_business=157, city='North Royalton', min(latitude)=41.2782741, max(latitude)=41.350754, min(longitude)=-81.7851236515, max(longitude)=-81.7149977),
 Row(city='Fairlawn', city_business=157, city='Fairlawn', min(latitude)=41.1044092215, max(latitude)=41.139516, min(longitude)=-81.655707, max(longitude)=-81.5993855),
 Row(city='Montreal', city_business=153, city='Montreal', min(latitude)=45.432283, max(latitude)=45.5858272, min(longitude)=-73.7881025, max(longitude)=-73.5331919),
 Row(city='Verdun', city_business=153, city='Verdun', min(latitude)=45.4406799, max(latitude)=45.4740342819, min(longitude)=-73.5796741, max(longitude)=-73.5378936098),
 Row(city='Tolleson', city_business=147, city='Tolleson', min(latitude)=33.276539, max(latitude)=33.4651277, min(longitude)=-112.2909476236, max(longitude)=-112.18717),
 Row(city='West Mifflin', city_business=145, city='West Mifflin', min(latitude)=40.3289489, max(latitude)=40.3931485, min(longitude)=-79.9594449, max(longitude)=-79.8585121),
 Row(city='Independence', city_business=143, city='Independence', min(latitude)=41.36096, max(latitude)=41.414835, min(longitude)=-81.683542, max(longitude)=-81.5927997),
 Row(city='Middleburg Heights', city_business=139, city='Middleburg Heights', min(latitude)=41.350952, max(latitude)=41.3890655, min(longitude)=-81.8423722, max(longitude)=-81.784637)]

In [88]:
df_business_categories = df_business.select("categories")

In [89]:
df_business_categories.head(10)

[Row(categories='Golf, Active Life'),
 Row(categories='Specialty Food, Restaurants, Dim Sum, Imported Food, Food, Chinese, Ethnic Food, Seafood'),
 Row(categories='Sushi Bars, Restaurants, Japanese'),
 Row(categories='Insurance, Financial Services'),
 Row(categories='Plumbing, Shopping, Local Services, Home Services, Kitchen & Bath, Home & Garden, Water Heater Installation/Repair'),
 Row(categories='Shipping Centers, Couriers & Delivery Services, Local Services, Printing Services'),
 Row(categories='Beauty & Spas, Hair Salons'),
 Row(categories="Hair Salons, Hair Stylists, Barbers, Men's Hair Salons, Cosmetics & Beauty Supply, Shopping, Beauty & Spas"),
 Row(categories='Nail Salons, Beauty & Spas, Day Spas'),
 Row(categories='Beauty & Spas, Nail Salons, Day Spas, Massage')]

In [90]:
from pyspark.sql.functions import split, ltrim

In [91]:
split_categories = split(df_business_categories['categories'], ',')

In [99]:
df_split_categories = df_business_categories.select(split_categories).withColumnRenamed('split(categories, ,)','split_categories')

In [100]:
df_split_categories.head()

Row(split_categories=['Golf', ' Active Life'])

In [101]:
df_split_categories.columns

['split_categories']

In [85]:
from pyspark.sql.functions import explode

In [114]:
df_split_categories.select(explode('split_categories'))

[Row(col='Golf'),
 Row(col=' Active Life'),
 Row(col='Specialty Food'),
 Row(col=' Restaurants'),
 Row(col=' Dim Sum'),
 Row(col=' Imported Food'),
 Row(col=' Food'),
 Row(col=' Chinese'),
 Row(col=' Ethnic Food'),
 Row(col=' Seafood')]

In [117]:
df_exploded_categories = df_split_categories.select(explode('split_categories'))

In [118]:
df_exploded_categories.head(10)

[Row(col='Golf'),
 Row(col=' Active Life'),
 Row(col='Specialty Food'),
 Row(col=' Restaurants'),
 Row(col=' Dim Sum'),
 Row(col=' Imported Food'),
 Row(col=' Food'),
 Row(col=' Chinese'),
 Row(col=' Ethnic Food'),
 Row(col=' Seafood')]

In [119]:
df_exploded_categories.columns

['col']

In [127]:
df_expl_strip_cats = df_exploded_categories.withColumn("coll",ltrim(col("col")))

In [128]:
df_expl_strip_cats.head(20)

[Row(col='Golf', coll='Golf'),
 Row(col=' Active Life', coll='Active Life'),
 Row(col='Specialty Food', coll='Specialty Food'),
 Row(col=' Restaurants', coll='Restaurants'),
 Row(col=' Dim Sum', coll='Dim Sum'),
 Row(col=' Imported Food', coll='Imported Food'),
 Row(col=' Food', coll='Food'),
 Row(col=' Chinese', coll='Chinese'),
 Row(col=' Ethnic Food', coll='Ethnic Food'),
 Row(col=' Seafood', coll='Seafood'),
 Row(col='Sushi Bars', coll='Sushi Bars'),
 Row(col=' Restaurants', coll='Restaurants'),
 Row(col=' Japanese', coll='Japanese'),
 Row(col='Insurance', coll='Insurance'),
 Row(col=' Financial Services', coll='Financial Services'),
 Row(col='Plumbing', coll='Plumbing'),
 Row(col=' Shopping', coll='Shopping'),
 Row(col=' Local Services', coll='Local Services'),
 Row(col=' Home Services', coll='Home Services'),
 Row(col=' Kitchen & Bath', coll='Kitchen & Bath')]

In [135]:
from pyspark.sql.functions import desc
df_grouped_cats = df_expl_strip_cats.groupby('coll').agg({'coll':'count'}).sort(desc('count(coll)'))

In [136]:
df_grouped_cats.show(100)

+--------------------+-----------+
|                coll|count(coll)|
+--------------------+-----------+
|         Restaurants|      59371|
|            Shopping|      31878|
|                Food|      29989|
|       Home Services|      19729|
|       Beauty & Spas|      19370|
|    Health & Medical|      17171|
|      Local Services|      13932|
|          Automotive|      13203|
|           Nightlife|      13095|
|                Bars|      11341|
|Event Planning & ...|      10371|
|         Active Life|       9521|
|             Fashion|       7798|
|          Sandwiches|       7332|
|        Coffee & Tea|       7321|
|           Fast Food|       7257|
|American (Traditi...|       7107|
|         Hair Salons|       6955|
|               Pizza|       6804|
|       Home & Garden|       6489|
|Arts & Entertainment|       6304|
|Professional Serv...|       6276|
|         Auto Repair|       6140|
|     Hotels & Travel|       6033|
|             Doctors|       5867|
|         Real Estate|       5677|
|             Burgers|       5404|
|  Breakfast & Brunch|       5381|
|         Nail Salons|       5043|
|      Specialty Food|       4883|
|      American (New)|       4882|
|             Italian|       4716|
|Fitness & Instruc...|       4646|
|             Mexican|       4618|
|             Chinese|       4428|
|                Pets|       4111|
|        Hair Removal|       4002|
|            Bakeries|       3711|
|             Grocery|       3609|
|            Dentists|       3540|
|           Skin Care|       3403|
|            Desserts|       3332|
|           Education|       3314|
|               Cafes|       3232|
|         Contractors|       3151|
|  Financial Services|       3082|
|    Women's Clothing|       2983|
|        Pet Services|       2850|
|   General Dentistry|       2768|
|Ice Cream & Froze...|       2764|
|            Day Spas|       2742|
|             Massage|       2733|
|            Japanese|       2716|
|       Chicken Wings|       2705|
|              Hotels|       2625|
|          Apartments|       2576|
|               Salad|       2531|
|            Caterers|       2525|
|             Seafood|       2508|
|              Waxing|       2389|
|               Tires|       2337|
|                Gyms|       2316|
|          Sushi Bars|       2258|
|                Beer|       2255|
|      Wine & Spirits|       2255|
|Venues & Event Sp...|       2223|
|         Accessories|       2214|
| Oil Change Stations|       2191|
|         Sports Bars|       2184|
|     Flowers & Gifts|       2180|
|      Sporting Goods|       2165|
|Cosmetics & Beaut...|       2148|
|          Home Decor|       2125|
|                Pubs|       2077|
|         Car Dealers|       2062|
|   Cosmetic Dentists|       2058|
|Auto Parts & Supp...|       2023|
|             Barbers|       2010|
|       Hair Stylists|       1960|
|               Delis|       1955|
|        Asian Fusion|       1953|
|    Furniture Stores|       1947|
|            Trainers|       1944|
|      Canadian (New)|       1909|
|  Convenience Stores|       1867|
|     Eyelash Service|       1856|
|       Mediterranean|       1834|
|      Men's Clothing|       1832|
|            Barbeque|       1814|
|       Arts & Crafts|       1793|
|     Medical Centers|       1781|
|     Massage Therapy|       1754|
|             Jewelry|       1750|
|Juice Bars & Smoo...|       1723|
|          Drugstores|       1684|
|             Lounges|       1648|
|   Department Stores|       1642|
|         Electronics|       1629|
|        Gas Stations|       1617|
|         Steakhouses|       1603|
+--------------------+-----------+
only showing top 100 rows

In [139]:
df_restaurants = df_business.where(df_business.categories.contains('Restaurants'))

In [141]:
df_restaurants_count= df_restaurants.count()

In [142]:
df_restaurants_count

59371